@import '../../styles/media';
@import '../../styles/colors';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 108px;
    z-index: 1000;
    transition: all 0.2s;
    background-color: transparent;
    box-shadow: 0 1px 0 0 transparent;


    &__logo {
        display: block;
    }

    &.-is-white {
        transition: all 0.4s;
    }

    &__section {
        padding: 0;
    }
}

.nav {
    display: flex;
    align-items: center;

    &__unit {
        transition: color 0.4s;

        display: none;
        font-size: 16px;
        font-weight: 500;
        margin-right: 50px;
        color: $color-text-dark;

        &:hover {
            transition-duration:  0.2s;
            color: $color-text-secondary;
        }

        @include from-width(540px) {
            display: block;
        }
    }

    &__badge {
        margin-right: 20px;
        margin-bottom: 0 !important;
    }

    &__menu-btn {
        display: block;

        @include from-width(540px) {
            display: none!important;
        }
    }
}

.dropdown-menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 10;

    top: 100px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #eef1f5;

    &__item {
        display: flex;
        align-items: center;

        height: 40px;
        transition: color 0.4s;
        font-size: 16px;
        font-weight: 500;
        color: $color-text-dark;

        &:hover {
            transition-duration:  0.2s;
            color: $color-text-secondary;
        }
    }

    &.is-opened {
        animation: openMenu 0.3s ease-in;
    }
}

@keyframes openMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}