.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
    transition: all 0.2s;
    background-color: transparent;
    box-shadow: 0 1px 0 0 transparent;


    &__logo {
        display: block;
    }

    &.-is-white {
        transition: all 0.4s;
        background-color: transparentize(white, 0.2);
        box-shadow: 0 1px 0 0 transparentize(#111111, 0.9);
    }

    &__section {
        padding: 0;
    }

    &__section-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
