@import "../../styles/colors";
@import "../../styles/media";

.section {
    &__content {
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.is-ltr {
            flex-direction: row-reverse;
        }
    }
}

.content {
    max-width: 500px;
    width: 100%;

    &__text {
        font-size: 24px;
        line-height: 1.33;
        font-weight: bold;
        color: $color-dark;
    }

    &__title {
        margin-bottom: 30px;
        color: $color-primary;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
}

.picture {
    &__image {
        width: 220px;

        @include from-xxl-width {
            width: 260px;
        }
    }
}
