@import '../../styles/colors';
@import '../../styles/media';

.feature-section {
    &__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;

        padding-top: 100px;
        padding-bottom: 0;

        @include from-md-width() {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &.is-ltr {
            @include from-md-width() {
                flex-direction: row-reverse;
            }
        }
    }

    &__content.is-ltr .feature-section__text {
        @include from-md-width {
            margin-left: 50px;
            margin-right: 0;
        }
    }

    &__text {
        max-width: 500px;
        width: 100%;

        @include from-md-width {
            margin-right: 50px;
            margin-left: 0;
        }

        @include from-lg-width {
            margin: 0;
        }

        &__descr {
            font-size: 24px;
            line-height: 1.33;
            font-weight: bold;
            color: $color-dark;
        }

        &__title {
            margin-bottom: 30px;
            color: $color-primary;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }
    }
}

.picture {
    margin-bottom: 50px;

    @include from-md-width() {
        margin-bottom: 0;
    }

    &__image {
        width: 220px;

        @include from-xxl-width {
            width: 260px;
        }
    }
}
