@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/text';

.feature-section {
    &__content {
        display: flex;
        padding-top: 100px;
        padding-bottom: 0;
        align-items: center;

        &.is-ltr {
            @include from-md-width() {
                flex-direction: row-reverse;
                justify-content: flex-end;

            }
        }
    }

    &__content.is-ltr .feature-section__text {
        @include from-md-width {
            margin-left: 50px;
            margin-right: 0;
        }
    }

    &__text {
        @include from-md-width {
            margin-right: 50px;
            margin-left: 0;
        }

        @include from-lg-width {
            margin: 0;
        }

        &__descr {
            @include text-h2($color-dark);
        }

        &__title {
            margin-bottom: 30px;
            color: $color-primary;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }
    }
}

.picture {
    margin-bottom: 50px;

    @include from-md-width() {
        margin-bottom: 0;
    }

    &__image {
        width: 220px;
        display: block;
        margin: 0 auto;

        @include from-xxl-width {
            width: 260px;
        }
    }
}
