@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';
@import '../../styles/text';

.intro {
    &__section {
        transition: opacity 1s;
        padding: 0;
        margin: 0;
        z-index: 3;
    }

    &__section-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 50px;
        padding-bottom: 100px;

        @include from-md-width {
            height: 100vh;
        }

        @include to-sm-width {
            padding-top: 128px;
            padding-bottom: 50px;
        }
    }

    &__topic {
        margin-top: 50px;
        max-width: 280px;

        &-shit {
            @include text-h1;
            margin-bottom: 10px;
            text-transform: lowercase;
            white-space: pre-wrap;
        }

        &-title {
            @include text-main;
            text-transform: lowercase;
            margin-bottom: 40px;
        }
    }

    &__arrow {
        position: absolute;
        width: 48px;
        height: 48px;

        cursor: pointer;
        bottom: 44px;
        left: 50%;
        transform: translateX(-50%) translateY(0);
        transition: all 0.5s ease-out;
        color: $color-dark;

        &:hover {
            transition-duration: 0.3s;
            transform: translateX(-50%) translateY(5px);
            color: $color-success;
        }

        @include to-md-width {
            display: none;
        }
    }

    &__phone-section {
        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include from-md-width {
            &:not(.i-show-desktop) {
                display: none;
            }
        }

        @include from-md-width {
            &.i-show-desktop {
                position: absolute;
                width: auto;

                bottom: 0;
                right: 24px;
                left: 24px;

                margin: 0 auto;
                padding: 0;
                height: 100%;

                display: block;
            }

            &.i-show-desktop &-image {
                position: absolute;
                right: 0;
                bottom: 20px;
            }
        }

        @include from-width(1280px) {
            &.i-show-desktop {
                $percent: 1 / 6;
                width: 100%;
                max-width: 1280px * 0.8333;
                opacity: 1;
            }
        }

        &-image {
            width: 100%;
            max-width: 340px;

            @include from-md-width {
                max-width: 269px;
                max-height: 700px;
            }
        }
    }
}
