@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';

.intro {
    &__section {
        transition: opacity 1s;
        padding: 0;
        margin: 0;
        z-index: 3;
    }

    &__section-content {
        min-height: 640px;
        display: flex;
        align-items: flex-end;

        padding-bottom: 50px;
    }

    &__topic {
        &-shit {
            font-size: 80px;
            line-height: 70px;
            font-weight: bold;
            margin-bottom: 16px;
            color: $color-text-dark;
        }

        &-title {
            font-size: 16px;
            font-weight: bold;
            color: $color-text-secondary;
        }
    }

    &__pre-title {
        opacity: 0.5;
        font-size: 8px;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 0.2em;

        @include from-width(768px) {
            font-size: 11px;
            letter-spacing: 0.27em;
        }
    }
}

.partners {
    &__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__list {
        max-width: calc(100% - 360px);
    }

    &__item {
        margin-right: 20px;
    }
}
