@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';

.intro {
    &__section {
        transition: opacity 1s;
        padding: 0;
        margin: 0;
        z-index: 3;
    }

    &__section-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding-bottom: 100px;

        @include from-md-width {
            height: 100vh;
        }

        @include to-sm-width {
            padding-bottom: 50px;
        }
    }

    &__topic {
        max-width: 280px;

        &-shit {
            font-size: 42px;
            line-height: 1.1;
            font-weight: 700;
            margin-bottom: 10px;
            color: $color-text-dark;
            text-transform: lowercase;

            @include from-md-width {
                font-size: 42px;
            }
        }

        &-title {
            font-size: 14px;
            font-weight: 700;
            color: $color-text-dark;
            text-transform: lowercase;
            margin-bottom: 40px;
        }
    }

    &__arrow {
        position: absolute;
        width: 48px;
        height: 48px;

        cursor: pointer;
        bottom: 44px;
        left: 50%;
        transform: translateX(-50%) translateY(0);
        transition: all 0.5s ease-out;

        &:hover {
            transition-duration: 0.3s;
            transform: translateX(-50%) translateY(5px);
        }

        @include to-sm-width {
            top: calc(100vh - 100px);
        }
    }

    &__phone-section {
        margin-top: 0;
        margin-bottom: 78px;
        padding-top: 20px;

        width: 100%;
        height: calc(100vh - 78px);

        display: flex;
        justify-content: center;
        align-items: flex-start;

        & > img {
            width: 100%;
            max-width: 150px;

            @include from-md-width {
                max-width: 269px;
                max-height: 700px;
            }
        }
    }
}
