@import '../../styles/vars';
@import '../../styles/media';
@import '../../styles/colors';

.wallet-feature-section {
    display: flex;

    margin-top: 150px;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        width: 100%;

        padding: 0;

        list-style-type: none;
        flex-wrap: wrap;

        padding-top: 130px;

        @include from-md-width {
            max-height: 550px;
        }
    }

    &__item {
        margin: 25px auto;

        @include from-md-width {
            margin: 25px 0;
        }

        &__title {
            max-width: 100%;
            color: $color-primary;
            font-size: 16px;
            font-weight: 700;

            @include from-md-width {
                max-width: 220px;
            }

            @include from-lg-width {
                max-width: 270px;
            }
        }
    }

    &__item--image {
        margin: 0 auto;
        @include from-md-width {
            margin: 0 50px;
        }
    }

    &__image {
        margin-top: -130px;
        max-width: 213px;
    }
}
