@import '../../styles/vars';
@import '../../styles/colors';

.wallet-feature-section {
    display: flex;
    margin-top: 300px;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        width: 100%;

        padding: 0;

        list-style-type: none;
        max-height: 550px;
        flex-wrap: wrap;

        padding-top: 130px;
    }

    &__item {
        margin: 25px 0;

        &__title {
            max-width: 270px;
            color: $color-primary;
            font-size: 16px;
            font-weight: 700;
        }
    }

    &__item--image {
        margin: 0 50px;
    }

    &__image {
        margin-top: -130px;
        max-width: 213px;
    }
}