@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';
@import '../../styles/text';

.navigation-column {
    & + & {
        margin-top: 50px;
    }

    & a {
        display: block;
        text-transform: lowercase;
    }
}
