@import '../../../styles/colors';
@import '../../../styles/media';
@import '../../../styles/vars';

.intro {
    &__section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        background-color: $color-dark;
        height: 100vh;
        min-height: 300px;
        padding: 100px 0 50px 0;
        z-index: 3;
    }

    &__topic {
        margin: 0 auto;
        max-width: 530px;
        padding: 0 20px;
        text-align: center;
        color: white;
    }


    &__title {
        font-size: 28px;
        line-height: 1.13;
        font-weight: bold;
        margin: 0;
        padding: 0;

        @include from-width(768px) {
            font-size: 46px;
        }
    }

    &__pre-title {
        opacity: 0.5;
        font-size: 8px;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 0.27em;

        @include from-width(768px) {
            font-size: 11px;
        }
    }

    &__footer {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        z-index: 0;

        &-content {
            display: flex;
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 0;
        }

        &-link {
            transition: opacity 0.4s;
            color: white;
            opacity: 0.3;
            font-size: 14px;
            font-weight: 500;
            margin-left: 30px;

            &:hover {
                opacity: 1;
                transition-duration: 0.2s;
            }
        }

        &-social {
            transition: color 0.4s;
            color: white;
            font-size: 16px;
            font-weight: 500;
            margin-right: 30px;

            &:hover {
                transition-duration: 0.2s;
                color: $color-primary;
            }
        }
    }
}


.platform {
    &__icon {
        margin-right: 15px;
        margin-left: 5px;
        width: 24px !important;
        text-align: center;
        font-size: 18px;
    }

    &__button {
        width: 300px;

        &-icon {
            transition: transform 0.2s;
            margin-left: 10px;
            font-size: 12px;

            &.i-active {
                transform: rotate(-180deg);
            }
        }
    }
}