@import '../../styles/colors';

.home {
    &-body {
    }

    &__landing-content {
        padding-top: 250px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
    }
}

.partners {
    padding: 0;
    background-color: #F4F4F4;

    &-content {
        padding-top: 24px;
        padding-bottom: 24px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &-logo {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.ceo {
    margin-top: 250px;
    margin-bottom: 250px;

    &-content {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-separator {
        margin: 20px auto;
        height: 2px;
        width: 90px;
        background-color: $color-dark;
    }

    &-platforms {
        justify-content: center;
        margin-top: 50px;
    }
}