@import '../../styles/colors';
@import '../../styles/media';

.home {
    &-body {
    }

    &__landing-content {
        z-index: 4;
        position: relative;
        padding-top: 0;
        background-color: white;
        border-radius: 20px;
        margin-top: 100vh;
    }
}

.phone-intro {
    &__container {
        position: fixed;

        &.i-fixed {
            position: absolute;
        }

        z-index: 30;
        left: 50%;
    }


    &__box {
        min-height: 600px;

        @include from-width(1280px) {
            min-height: 880px;
        }
    }

    &__image {
        object-fit: cover;
        height: auto;
        width: 100%;

        transition: all 1s;
        transform: translateY(20px);
        opacity: 0;

        &.i-page-loaded {
            transform: translateY(0);
            opacity: 1;
        }

        &-box {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);
            width: 80vw;
            max-width: 400px;
            height: 100vh;

            @include from-width(1280px) {
                max-width: 500px;
            }
        }
    }
}

.partners {
    padding: 0;
    background-color: #F4F4F4;

    border-radius: 0 0 20px 20px;
    overflow: hidden;

    &-content {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &-logo {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.ceo {
    &-content {
        padding-top: 100px;
        padding-bottom: 0;
    }

    &__title {
        @include to-width(460px) {
            white-space: normal;
        }
    }

    &-separator {
        margin: 20px auto;
        height: 2px;
        width: 90px;
        background-color: $color-dark;
    }

    &-platforms {
        justify-content: center;
        margin-top: 50px;
    }

    &-person {
        text-align: center;
        line-height: 1.51;
        font-weight: 500;

        &__name {
            font-size: 18px;
            margin: 0;
            padding: 0;
            opacity: 0.5;
        }

        &__position {
            font-size: 12px;
            color: $color-text-secondary;
            margin: 0;
            text-transform: uppercase;
        }
    }
}

.last-citation {
}