{
    "extends": "stylelint-config-sass-guidelines",
    "rules": {
        "indentation": 4,
        "max-nesting-depth": 3,
        "order/properties-alphabetical-order": null,
        "selector-class-pattern": null,
        "selector-max-compound-selectors": 4,
        "selector-no-qualifying-type": null,
    },
    "ignoreFiles": [
        "dest/",
        "storybook-static/"
    ]
}
