@import '../../styles/colors';
@import '../../styles/vars';
@import '../../styles/media';
@import '../../styles/text';


.section {
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
}

.subscribe {
    &__title {

        margin-bottom: 20px;

        width: 100%;
        @include text-h2;
        @include from-width(1280px) {
            max-width: col-absolute(3);
        }
    }

    &__content {
        @include text-main;
        margin-bottom: 50px;
        max-width: 100%;

        @include from-width(1280px) {
            max-width: col-absolute(4);
        }
    }

    &__form-container {
        width: 100%;
        max-width: 590px;

        @include from-width(1280px) {
            margin-left: col-absolute(1) + $var-gutter * 1.5;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-text-dark;

        @include from-width(640px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__input {
        height: 60px;
        padding: 8px 0;
        font-weight: bold;
        color: $color-text-dark;
        background-color: transparent;
        outline: none;
        border: none;
        box-sizing: border-box;

        &::placeholder {
            color: $color-gray10;
        }

        font-size: 28px;
        @include from-md-width {
            font-size: 42px;
        }

        @include from-width(640px) {
            width: calc(100% - 190px);
        }
    }

    &__button {
        font-size: 28px;
        font-weight: bold;
        background: none;
        border: none;
        color: $color-gray10;
        transition: all 0.5s;
        padding: 0;
        cursor: pointer;

        &:hover {
            color: $color-text-dark;
        }

        @include from-md-width {
            font-size: 42px;
        }
    }

    &__error-message {
        margin-top: 10px;
        color: $color-danger;
        font-size: 16px;
        height: 20px;
    }

    &__success {
        font-size: 16px;
        text-align: center;
    }
}
