@import "../../styles/media";
@import "../../styles/colors";

.container {
    position: absolute;
    height: 100%;
    padding-bottom: 25vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1042px;
}

.iphone {
    &__box {
        position: sticky;
        top: 0;
        height: 100vh;
    }

    &__image {
        width: 220px;
        bottom: -90px;

        position: absolute;
        right: 0;

        @include from-xxl-width {
            width: 265px;
            bottom: -90px;
        }
    }
}