@import "../../styles/media";
@import "../../styles/colors";

.container {
    display: none;

    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100vw - 40px);

    @include from-md-width {
        display: block;
        opacity: 1;
    }

    @include from-width(1042px) {
        width: 100%;
        max-width: 1042px;
        opacity: 1;
    }
}


.iphone {
    &__box {
        position: sticky;
        top: 0;
        height: 100vh;
    }

    &__image {
        width: 220px;
        top: 170px;

        position: absolute;
        right: 0;

        @include from-xxl-width {
            width: 265px;
            top: 170px;
        }
    }
}
