@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/text";

.section {
    display: flex;
    @include from-lg-width {
        margin-top: 150px;
    }
}

.citation {
    &__text {
        @include text-h1;
        white-space: pre-wrap;

        &.is-lowercase {
            text-transform: lowercase;
        }
    }

    &__author {
        @include text-subtitle2($color-gray40);
    }

    &__text + &__author {
        margin-top: 20px;
    }
}
