@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/text";

.section {
    display: flex;
    margin-top: 150px;
}

.citation {
    @include from-width($grid-width) {
        margin-left: col-absolute(5) + $var-gutter / 2;
        max-width: col-absolute(6);
    }

    &__text {
        @include text-h1;
        white-space: pre-wrap;

        &.is-lowercase {
            text-transform: lowercase;
        }
    }

    &__author {
        @include text-subtitle2($color-gray40);
    }

    &__text + &__author {
        margin-top: 20px;
    }
}
