@import '../../styles/vars';
@import '../../styles/media';

.ripple-wallet {

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__features-title {
        margin-top: 300px;

        &-topic {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            text-align: center;
            margin: 0 auto;
            line-height: 1.1667;
            font-size: 60px;
            font-weight: 700;
            white-space: pre-line;
        }

        &-descr {
            margin-top: 20px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.375;
            color: #959BA3;
            display: block;
            max-width: 630px;
        }
    }

    &__best-wallet {
        margin-top: 100px;

        &-topic {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            max-width: 550px;
            text-align: center;
            margin: 0 auto;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }

        &-descr {
            max-width: 400px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
        }
    }

    &__download-section {
        @include from-md-width {
            margin-top: 300px;
        }

        &-title {
            color: #0b0c0d;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;

            @include from-md-width {
                font-size: 48px;
            }
        }

        &-text {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    &__good-choice {
        text-align: center;
    }

    &__card-section-topic {
        max-width: 100% !important;
    }
}