@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/text';


.section {
    &__content {
        padding-top: 0;
        padding-bottom: 250px;
        display: flex;
        justify-content: space-between;
    }
}

.left {
    width: 100%;
    padding-top: 300px;
    @include make-width(3);

    &__title {
        @include text-h1($color-gray01);
    }

    &__link {
        display: inline-block;
        margin-top: 30px;
        @include text-subtitle2($color-gray01);
        transition: color 0.5s;
        text-transform: lowercase;
    }
}

.feature {
    &__list {
        width: 100%;
        @include left-margin(1);
    }

    height: 100vh;
    max-height: 750px;
    display: flex;
    align-items: flex-end;

    &-text, &-image {
        height: 100vh;
    }

    &-text {
        width: 100%;
        height: calc(100vh - 300px);

        @include from-height(750px) {
            height: 450px;
        }

        @include make-width(3);

        &__content {
            @include text-main($color-gray01);
        }
    }

    &-image {
        @include make-width(4);
        width: 100%;

        &__img {
            display: block;
            position: absolute;
            bottom: 20px;

            left: 50%;
            transform: translateX(-50%);

            width: 15vw;
            max-width: 230px;
        }
    }
}
