@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/text';


.section {
    &__content {
        padding-top: 0;
        padding-bottom: 250px;
        display: flex;

        @include only-width($sm-width, $lg-width) {
            padding-left: 24px !important;
            padding-right: 0 !important;
        }
    }
}

.left {
    width: 100%;
    padding-top: 300px;
    padding-right: 0;

    &__title {
        @include text-h1($color-gray01);
    }

    &__link {
        display: inline-block;
        margin-top: 30px;
        transition: color 0.5s;
        text-transform: lowercase;

        @include text-subtitle2($color-gray01);
    }
}

.feature {
    display: flex;
    align-items: flex-end;

    @include to-sm-width {
        flex-direction: column-reverse;

        & + & {
            margin-top: 100px;
        }
    }

    @include from-sm-width {
        height: 100vh;
        max-height: 750px;
    }

    &__list {
        width: 100%;
    }

    &-text {
        width: 100%;
        height: auto;
        white-space: pre-wrap;

        @include from-md-width {
            height: calc(100vh - 300px);
        }

        @include from-height(750px) {
            height: 450px;
        }

        &__content {
            @include text-main($color-gray01);
        }
    }

    &-image {
        width: 100%;

        margin-top: 50px;
        margin-bottom: 50px;

        @include from-sm-width {
            margin-top: 0;
            margin-bottom: 0;
        }

        &__img {
            display: block;
            margin: 0 auto;

            width: 80%;
            max-width: 200px;

            @include from-lg-width {
                width: 20vw;
                max-width: 230px;
            }
        }
    }
}
