///** Black */
//@font-face {
//  font-family: "SF Pro Display";
//  font-weight: 900;
//  src: url("/fonts/SF-Pro-Display-Black.otf");
//}

/** Heavy */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/SFProDisplay-Heavy.woff") format("woff"),
        url("/fonts/SFProDisplay-Heavy.woff2") format("woff2");
    font-display: swap;
}

/** Bold */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/SFProDisplay-Bold.woff") format("woff"),
        url("/fonts/SFProDisplay-Bold.woff2") format("woff2");
    font-display: swap;
}

/** Semibold */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/SFProDisplay-SemiBold.woff") format("woff"),
        url("/fonts/SFProDisplay-SemiBold.woff2") format("woff2");
    font-display: swap;
}

/** Medium */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/SFProDisplay-Medium.woff") format("woff"),
        url("/fonts/SFProDisplay-Medium.woff2") format("woff2");
    font-display: swap;
}

/** Regular */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/SFProDisplay-Regular.woff") format("woff"),
        url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-display: swap;
}

/** Thin */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/SFProDisplay-Thin.woff") format("woff"),
    url("/fonts/SFProDisplay-Thin.woff2") format("woff2");
    font-display: swap;
}

///** Light */
//@font-face {
//  font-family: "SF Pro Display";
//  font-weight: 200;
//  font-style: normal;
//  src: url("/fonts/SFProDisplay-Light.woff") format("woff"),
//    url("/fonts/SFProDisplay-Light.woff2") format("woff2");
//}
//
///** Ultralight */
//@font-face {
//  font-family: "SF Pro Display";
//  font-weight: 100;
//  font-style: normal;
//  src: url("/fonts/SFProDisplay-UltraLight.woff") format("woff"),
//    url("/fonts/SFProDisplay-UltraLight.woff2") format("woff2");
//}
