@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/text';

.section {
    margin-top: 150px;
    overflow: visible;

    &__content {
        padding-top: 0;
        padding-bottom: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        min-height: 750px;
    }
}

.image {
    width: 560px;
    height: 750px;

    &__image {
        position: relative;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;

        top: -72px;
    }

    &__arrow {
        width: 100px;
        height: 100px;
        transform: rotate(-90deg);
        fill: $color-white;

        position: absolute;
        top: 195px;
        right: -70px;
    }
}

.content {
    padding-bottom: 72px;
    @include make-width(4);
}

.citation {
    margin-bottom: 180px;

    &__text {
        @include text-h2($color-gray01);
    }

    &__author {
        @include text-subtitle2($color-gray01);
        margin-top: 30px;
    }
}

.caption {

}
