@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/vars";

.section {
    &__content {
        padding-top: 160px;
        padding-bottom: 100px;
    }
}

.topic {
    &__description {
        max-width: 620px !important;
        font-size: 20px;
    }
}


.card-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;

    &__item {
        margin: 0 12px;
    }
}

.subtitle {
    display: block;
    font-size: 16px;
    text-align: center;
    max-width: 580px;
    font-weight: bold;
    margin: 50px auto 72px auto;
    line-height: 1.38;
    color: $color-text-secondary;
}


.caption {
    text-align: center;
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.28;
    color: $color-gray10;
}

.chart {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);

    @include from-md-width() {
        top: 290px;
    }
}

.credit-card {
    width: 80%;
    max-width: 420px;
    border-radius: 18px;
    margin: 0 auto 120px auto;
    box-shadow: 0 10px 70px $color-gray50;

    &__image {
        width: 100%;
        display: block;
    }
}

.download {
    margin-top: 50px;
    justify-content: center;
}

.card-section {
    &__steps {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        margin: 80px auto;
        max-width: 640px;
    }

    &__step {
        width: 230px;
        min-height: 120px;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        margin-bottom: 75px;

        &-number {
            color: $color-gray20;
            font-size: 80px;
            font-weight: 300;
        }

        &-descr {
            color: $color-primary;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
    }
}
