@import '../../styles/vars';
@import '../../styles/media';

.card-list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    min-height: 75px;
    max-width: 674px;

    @include from-md-width {
        justify-content: space-between;
    }

    &__item {
        display: flex;
        margin: 10px 10px;

        @include from-md-width {
            margin-right: 0;
            margin-left: 0;
        }
    }
}