@import '../../styles/colors';
@import '../../styles/media';

.faq {
    &-head {
        user-select: none;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &__title {
            color: $color-dark;
            font-size: 18px;
            font-weight: bold;
            transition: color 0.5s;
        }

        @include from-width(768px) {
            &__title {
                font-size: 24px;
            }
        }

        &:hover &__title {
            transition-duration: 0.2s;
            color: $color-success;
        }
    }

    &.is-active &-head {
        padding-bottom: 0;
        margin-bottom: 12px;

        &__title {
            color: $color-success;
        }
    }

    &-content {
        font-size: 16px;
        display: none;

        @include from-width(768px) {
            font-size: 18px;
        }
    }

    &.is-active &-content {
        display: block;
    }

    & + & {
        margin-top: 24px;
    }
}


