$color-primary: #0B0C0D;

$color-dark: #0B0C0D;
$color-white: #EEF1F5;

$color-text-dark: #0B0C0D;
$color-text-secondary: #959BA3;

$color-gray01: #F3F5F7;
$color-gray05: #EEF1F5;
$color-gray10: #B4BBC4;
$color-gray20: #CDD2DB;
$color-gray30: #DFE4EB;
$color-gray40: #959BA3;
$color-gray45: #939599;
$color-gray50: #6D7278;
$color-gray70: #3E4044;


$color-danger: #FF4F58;
$color-success: #29CB97;
$color-warning: #FEC400;

$color-gold: #FF9400;
