.legal-section {
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


.markdown {
    margin-top: 40px;

    &__main-title {
        margin-top: 80px !important;
    }

    p + h2 {
        margin-top: 50px;
    }
}