@import './colors';

.legal-section {

}


.markdown {
    margin-top: 40px;
    font-weight: 500;

    &__main-title {
        margin-top: 80px !important;
    }

    p + h2 {
        margin-top: 50px;
    }

    h2 {
        margin-bottom: 20px;
    }

    a {
        color: $color-text-dark;
        text-decoration: underline;
        transition: all 0.5s;

        &:hover {
            transition-duration: 0.2s;
            color: $color-success;
            text-decoration: none;
        }
    }
}
