@import './vars';
@import './media';
@import './colors';


@mixin text-h1($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 42px;
    line-height: 1.19; // 50px
    font-weight: bold;
}

@mixin text-h2($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 24px;
    line-height: 1.25; // 30px
    font-weight: bold;
}

@mixin text-h3($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 16px;
    line-height: 1.375; // 22px
    font-weight: bold;
}

@mixin text-h4($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 14px;
    line-height: 1.428; // 20px
    font-weight: bold;
}

@mixin text-subtitle1($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 14px;
    line-height: 1.428; // 20px
    font-weight: 400;
}

@mixin text-subtitle2($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 12px;
    line-height: 1.5; // 18px
    font-weight: 500;
}

@mixin text-subtitle3($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 12px;
    line-height: 1.833; // 22px
    font-weight: bold;
}

@mixin text-caption($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 12px;
    line-height: 1.833; // 22px
    font-weight: 500;
}

@mixin text-special($text-color: $color-text-dark) {
    color: $text-color;
    font-size: 12px;
    line-height: 1.166; // 14px
    font-weight: 400;

    letter-spacing: 0;
    text-transform: lowercase;
}
