@import '../../styles/vars';
@import '../../styles/media';

.wallet-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__title {
        margin-bottom: 20px;
    }

    &__descr {
        margin: 0 auto 70px;
        color: #0b0c0d;
        font-size: 32px;
        font-weight: 700;

        max-width: 900px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 auto;

        width: 100%;
        max-width: 900px;

        @include from-md-width {
            flex-direction: row;
            justify-content: space-between;
        }

        &-text {
            text-align: left;
            max-width: 400px;
            color: #6d7278;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;

            margin-bottom: 50px;

            @include from-md-width {
                margin-bottom: 0;
            }
        }
    }
}
