@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/vars";


.box {
    height: 40px;
    padding: 0 10px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    @include to-width(640px) {
        display: none;
    }

    &__small {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    &__text {
        color: currentColor;
        font-size: 12px;
        line-height: 1.833;
        font-weight: bold;
    }

    &__big {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        border-radius: 5px;
        width: 200px;
        height: 200px;

        visibility: hidden;
        opacity: 0;

        transition: all 0.4s;

        box-shadow: 0 20px 30px transparentize($color-dark, 0.7);

        @include from-md-width() {
            left: 100%;
            transform: none;
        }
    }

    &:hover > &__big {
        transition-duration: 0.2s;
        visibility: visible;
        opacity: 1;
    }
}
