.close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 20px;

    border: none;
    outline: none;

    padding: 0;

    background-color: transparent;

    &:hover {
        cursor: pointer;
    }

    > svg {
        width: 25px;
        height: 20px;
    }
}