@import '../../styles/colors';
@import '../../styles/vars';
@import '../../styles/media';

.footer {
    padding-top: 50px;
    padding-bottom: 0;
    border-top: 1px solid $color-gray30;

    position: relative;
    z-index: 4;

    &__second {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }

    &__content {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__technical {
        margin-bottom: 30px;
    }

    @include from-width(640px) {
        padding-top: 20px;
        padding-bottom: 20px;

        &__technical {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__main {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.17px;
    color: $color-text-secondary;

    transition: color 0.4s;

    &:hover {
        transition-duration: 0.2s;
        color: $color-text-dark;
    }
}

.nav-column {
    &__title {
        font-size: 16px;
        line-height: 1.375;
        color: $color-text-dark;
        font-weight: bold;
        margin-bottom: 10px;
    }

    & > .nav-link {
        display: block;
    }
}


.bottom-bar {
    border-top: 1px solid $color-gray30;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

    &__content {
        height: 60px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;

        & > .nav-link {
            display: block;
            margin: 0 8px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
