@import '../../styles/colors';
@import '../../styles/vars';
@import '../../styles/media';

.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
    position: relative;
    background: $color-dark;
    z-index: 4;

    &__logo {
        margin-bottom: 30px;
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__technical {
        margin-bottom: 30px;
    }

    @include from-width(640px) {
        padding-top: 80px;
        padding-bottom: 80px;

        &__technical {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__logo {
            margin-bottom: 80px;
        }

        &__main {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.platforms {
    &__title {
        font-size: 18px;
        line-height: 1.66;
        opacity: 0.5;
        margin-bottom: 5px;
        font-weight: 500;
    }

    &__container {
    }
}

.subscribe {
    &__title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 0;
    }

    &__form {
        display: flex;
    }

    &__input {
        flex: 1;
        height: 50px;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        border: none;
        margin-right: 10px;

        @include from-width(640px) {
            width: 250px;
        }
    }

    &__error-message {
        margin-top: 10px;
        color: white;
        font-size: 12px;
        height: 14px;
    }

    &__success {
        font-size: 16px;
    }
}

.nav {
    width: 210px;

    &__link {
        display: block;
        color: white;
        opacity: 0.5;
        font-size: 18px;
        line-height: 30px;

        &:hover {
            opacity: 1;
        }
    }
}