@import '../../../styles/colors';
@import '../../../styles/vars';
@import '../../../styles/media';


.about-container {
    margin-bottom: 0;
}

.iphone {
    position: relative;
    height: 450px;
    margin: 0 auto 50px;
    z-index: 10;

    &__mockup, &__screen {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: auto;
    }

    &__mockup {
        z-index: 1;
    }

    &__screen {
        z-index: 2;
    }

    @include from-width(1080px) {
        height: 780px;
        margin-bottom: 0;
    }
}


.features {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 1030px;

    &-iphone-space {
        display: none;
    }

    &__side-item {
        margin-bottom: 40px;
    }

    &__side {
        display: flex;
        flex-direction: column;
    }

    @include from-width(768px) {
        flex-direction: row;
        justify-content: center;

        &__side-item {
            width: 320px;
            height: 180px;
            margin-bottom: 30px;
        }

        &__side {
            margin-top: 80px;
        }

        &-iphone-space {
            display: block;
            width: 50px;
        }

        .i-right &__side-item {
            text-align: left;
            margin-left: 150px;
        }

        .i-left &__side-item {
            text-align: right;
            margin-right: 150px;
        }

        .i-bottom &__side-item {
            margin-bottom: 0;
        }
    }
}
