@import '../../styles/media';
@import '../../styles/vars';

.section {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.section-content {
    width: 100%;
    position: relative;
    max-width: 1106px;
    margin: 0 auto;
    padding: 60px 20px;

    @include from-sm-width {
        padding: 100px 32px;
    }

    &.i-without-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}
