@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';

.section {
    width: 100%;
    position: relative;
    overflow: hidden;

    &.is-dark {
        background: $color-dark;
    }
}

.section-content {
    width: 100%;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 12px;

    .is-dark & {
        color: $color-white;
    }

    &.i-without-padding {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.i-left-padding {
        @include left-padding;
    }
}
