@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';

.section {
    width: 100%;
    position: relative;
    overflow: hidden;

    &.is-dark {
        background-color: $color-dark;
    }
}

.section-content {
    width: 100%;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;

    .is-dark & {
        color: $color-white;
    }
}


.section-row {
    padding: 100px 24px;

    &.i-without-padding {
        padding-top: 0 !important;
        padding-bottom: 0 !important;;
    }

    &.is-flex {
        display: flex;
        flex-wrap: wrap;
    }

    @include from-md-width {
        padding-left: 24px;
        padding-right: 24px;
    }
}
