@import "../../styles/colors";
@import "../../styles/media";


.slider {
    margin: 100px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: white;
    padding: 30px;
    border-radius: 5px;

    width: 500px;
    height: 240px;
    overflow: hidden;

    box-shadow: 0 10px 40px $color-gray20;
    margin: 0 30px;

    transition: all 0.6s;
    opacity: 0.3;
    transform: scale(0.83);

    :global(.slick-active) & {
        transition-duration: 0.3s;

        opacity: 1;
        transform: scale(1);
    }

    &__title {
        font-size: 20px;
        letter-spacing: 0.24px;
        color: $color-text-dark;
        font-weight: bold;
    }

    &__content {
        font-size: 14px;
        line-height: 1.42;
        color: $color-text-secondary;
    }

    &__title + &__content {
        margin-top: 10px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__timing {
        font-size: 12px;
        color: $color-text-secondary;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        width: 100%;
        max-width: 740px;
        margin: 0 auto;

        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;

    }
}
