@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/text";

.section {
    margin-top: 100px;
    margin-bottom: 100px;

    &__content {
    }
}

.left {
    @include make-width(3);

    &__arrow {
        width: 100%;
        height: 100%;
        color: #FFFFFF;
    }
}

.right {
    @include left-margin(1);
}

.topic {
    @include make-width(5, true);

    &__title {
        text-transform: lowercase;
        @include text-h1($color-dark);
    }

    &__description {
        @include text-main($color-dark);
    }

    &__title + &__description {
        margin-top: 50px;
    }
}

.platforms {
    margin: 50px 0;
    display: flex;
    align-items: center;

    &__item {
        display: block;
        margin-right: 50px;

        &:hover {
            transform: scale(1.1);
        }

        &-image {
            display: block;
            height: 26px;
        }
    }
}

.link {
    @include text-subtitle3($color-text-secondary);
}
