@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';
@import '../../styles/text';

.footer {
    position: relative;
    z-index: 990;

    font-size: 14px;
    line-height: 1.856;
    font-weight: normal;
    color: $color-gray01;

    padding-top: 100px;

    &__content {
        z-index: 2;
        padding-top: 100px;
        padding-bottom: 0;

        @include to-sm-width {
            flex-direction: column;
        }
    }


    &-start {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        margin-bottom: 50px;

        @include from-sm-width {
            min-height: 390px;
        }
    }

    &-end {
        width: 100%;
        padding-bottom: 100px;
    }
}

.bottom,
.product-side,
.nav-side {
    z-index: 2;
}

.product-side .footer-start {
    @include to-sm-width {
        margin-bottom: 0;
    }
}

.product-side .footer-end {
    display: none;

    @include from-sm-width {
        display: block;
    }
}

.bottom {
    width: calc(#{100%/12 * 9} - #{$var-semi-gutter});
    padding-bottom: 100px;
    margin-right: 0 !important;
    margin-left: 0 !important;

    &-left {
    }

    &-right {
        & .secondary-link {
            text-transform: lowercase;
            margin-right: 10px;
        }
    }

    &-social {
        &__link {
            text-transform: lowercase;
            text-decoration: underline;
            vertical-align: center;

            &:not(:last-child):after {
                content: '|';
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    &-copyright {
        color: $color-text-secondary;
        font-size: 14px;
    }
}


.nav-side {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include to-sm-width {
        order: 2;
    }

    &__column {
        width: 50%;
    }
}

.product-side {
    @include to-width($md-width) {
        margin-bottom: 0;
    }

    @include to-sm-width {
        order: 1;
    }

    &__logo {
        fill: $color-gray01;
    }

    &__description {
        margin-top: 20px;
        margin-bottom: 50px;
        text-transform: lowercase;

        @include from-sm-width {
            margin-bottom: 56px;
        }
    }
}

.title {
    display: block;
    line-height: 1.57;
    color: $color-text-secondary;

    &.is-column-title {
        display: block;
        margin-bottom: 5px;
    }
}


/*
 * Describe the footer links
 */

.main-link {
    color: $color-gray01;
}

.secondary-link {
    color: $color-text-secondary;
}

.main-text {
    color: $color-gray01;
    text-transform: lowercase;
    display: block;
    line-height: 1.85;
}

.secondary-link,
.main-link {
    text-decoration: underline;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: $color-success;
    }
}


.background {
    position: absolute;
    display: none;

    z-index: 1;

    top: 0;
    bottom: 0;
    width: calc(#{100% / 12 * 5} - #{$var-gutter});
    left: calc(33.34% + #{$var-semi-gutter});

    @include from-width($lg-width) {
        display: block;
    }

    &__dark {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-dark;
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-dark;
        z-index: 3;
    }

    &__white-cover {
        content: '';
        left: 100%;
        width: 100vw;
        top: 0;
        bottom: 0;
        display: block;
        position: absolute;
        z-index: 1;
        background: $color-gray05;
    }

    &-image {
        position: absolute;
        width: 80vw;
        max-width: 815px;
        left: 0;
        top: -100px;

        z-index: 2;
    }

    &-to-top {
        z-index: 10;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 0 0 128px;
        position: absolute;
        bottom: 0;
        left: 100%;
        right: -100vw;
        height: 185px;
        background-color: $color-gray05;

        &__arrow {
            width: 50px;
            height: 50px;
            color: $color-dark;
            transform: rotate(-90deg) translateX(0);
            transition: all 0.5s ease-in-out;
        }

        &:hover &__arrow {
            transform: rotate(-90deg) translateX(5px);
            color: $color-success;
            transition-duration: 0.2s;
        }
    }
}


.navigation-column {
    & + & {
        margin-top: 50px;
    }

    & .main-link {
        display: block;
        text-transform: lowercase;
    }
}


.download {
    display: none;

    @include from-sm-width {
        display: block;
    }
}

.download-button {
    margin-top: 0 !important;
    margin-bottom: 50px;

    display: block;

    @include from-sm-width {
        display: none !important;
    }
}
