@import "../../styles/media";
@import "../../styles/colors";

.section {
    margin-top: 200px;
    margin-bottom: 200px;
}

.phones {
    display: flex;
    justify-content: center;

    margin: 160px 0;


    &__scene {
        width: 210px;

        & + & {
            margin-left: 20px;
        }

        &:first-child {
            margin-top: -60px;
        }

        &:last-child {
            margin-bottom: -60px;
        }
    }
}

.topic + .phones {
    margin-top: 220px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    width: 600px;
    margin: 0 20px;

    transition: all 0.6s;
    transform: scale(0.7);
    opacity: 0.5;
    filter: blur(2px);

    @include from-xxl-width {
        width: 800px;
        margin: 0 30px;
    }

    :global(.slick-active) & {
        transition-duration: 0.3s;

        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    &__feedback {
        font-weight: bold;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        margin: 25px 0 30px 0;

        @include from-xxl-width {
            font-size: 32px;
        }
    }

    &__user {
        font-size: 16px;
        color: $color-text-secondary;
        font-weight: bold;

        text-align: center;
    }
}

.partners {
    margin-top: 100px;
    justify-content: center;
}
