@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/text";

.section {
    padding: 0;

    &__content {
        align-items: center;
    }
}

.phones {
    @include make-width(7, true);
    z-index: 2;

    &__image {
        width: 100%;
    }
}

.slider {
    @include make-width(4, true);
    z-index: 1;

    &-box {
        overflow: hidden;
    }

    &-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;

        &__button {
            position: relative;
            cursor: pointer;
            width: 36px;
            height: 36px;

            &__arrow {
                transition: all 0.2s ease-in-out;
                color: transparent;
                stroke: $color-dark;
            }

            &:hover &__arrow {
                color: $color-dark;
                stroke: transparent;
            }

            &.is-prev &__arrow {
                transform: rotate(-90deg);
            }

            &.is-next &__arrow {
                transform: rotate(90deg);
            }

            &:after {
                display: block;
                position: absolute;
                content: '';
                width: 90px;
                height: 90px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 90px;
                border: 1px solid transparent;

                transition: border 0.2s ease-in-out;
            }

            &:hover:after {
                border-color: $color-dark;
            }
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    transition: all 0.6s;

    :global(.slick-active) & {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    &__feedback {
        @include text-main;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__author {
        @include text-subtitle3($color-text-secondary);
        text-align: center;
    }
}

.appstore-link {
    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    @include text-subtitle3($color-dark);

    &__image {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}
