@import "../../styles/colors";
@import "../../styles/media";

.sitemap {
    &__topic {
        margin-bottom: 50px;
    }

    &__section {
        &-content {
            padding-top: 150px;
            padding-bottom: 0;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;

    @include from-md-width {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 100px;

        @include from-md-width {
            justify-content: flex-start;

            width: calc(100% / 3);
        }

        &-links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.33;
            margin-bottom: 10px;
        }

        &-link {
            color: #959ba3;
            font-size: 16px;
            font-weight: 400;
            line-height: 2.5;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.link {
    &__url {
        color: $color-text-dark;
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        color: $color-text-secondary;
    }

    & + & {
        margin-top: 24px;
    }
}
