@import '../../styles/colors';

.burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.5s;

    &:hover {
        cursor: pointer;
    }

    &:before,
    &:after {
        position: absolute;
        content: ' ';
        width: 3px;

        background-color: currentColor;
        transform: rotate(90deg);
        transition: all 0.3s;
    }

    &:before {
        height: 25px;
        transform: translateY(-6.25px) translateX(12.5px) rotate(90deg);
    }

    &:after {
        height: 12.5px;
        transform: translateY(6.25px) translateX(18.75px) rotate(90deg);
    }

    &.is-open {
        &:before,
        &:after {
            background-color: $color-dark !important;
        }

        &:before,
        &:after {
            height: 20px;
        }

        &:before {
            transform: translateX(12.5px) rotate(135deg);
        }

        &:after {
            transform: translateX(12.5px) rotate(45deg);
        }
    }
}
