@import "../../styles/colors";
@import "../../styles/media";

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    height: 40px;

    &.is-small {
        height: 30px;
    }
}

.partner {
    fill: $color-gray45;
    height: 50%;

    &:last-child {
        margin-right: 0;
    }

    @include to-md-width {
        margin-top: 30px;
    }

    &.is-kuna {
        height: 50%;
    }

    &.is-changelly {
        height: 90%;
    }

    &.is-zerohub {
        height: 50%;
    }

    &.is-choinswitch {
        height: 41%;
    }

    &.is-wallettopup {
        height: 70.5%;
    }

    &__section {

    }

    &__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
