@import "../../styles/colors";
@import "../../styles/media";

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partner {
    fill: $color-gray45;
    height: 40px !important;
    width: auto !important;
    transition: fill 0.4s;

    .is-small & {
        height: 30px !important;
    }

    &__link {
        display: block;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transition-duration: 0.2s;
        fill: $color-gray70;
    }

    @include to-md-width {
        margin-top: 30px;
    }

    &__section {}

    &__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
