@import '../../styles/colors';
@import '../../styles/vars';
@import '../../styles/media';

.social {
    display: flex;

    &:not(.is-title-mode) {
        justify-content: space-between;
    }

    max-width: 250px;

    &__item {
        color: $color-gray40;

        & > svg {
            width: 18px;
            height: 18px;
            fill: $color-gray40;
        }
    }
}
