@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';

.topic {
    width: 100%;

    &__title {
        margin: 0;
        padding: 0;
        line-height: 1.135;
        color: currentColor;
        font-size: 22px;
        font-weight: 700;

        @include from-sm-width {
            font-size: 28px;
        }

        @include from-md-width {
            font-size: 32px;
        }

        .topic.i-center > & {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__desc {
        font-size: 18px;
        margin: 0;
        line-height: 1.5;
        color: $color-dark;
        display: block;
        max-width: 460px;
        font-weight: 400;

        @include from-md-width {
            font-size: 18px;
        }

        .topic.i-white > & {
            color: currentColor;
        }

        .topic.i-center > & {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title + &__desc {
        margin-top: 20px;
    }

    // Where text must be white
    &.i-white {
        color: #fff;
    }

    // Where text must be centered
    &.i-center {
        text-align: center;
        margin: 0 auto;
    }

    // For small elements like Card
    &.i-small &__title {
        font-size: 16px;

        @include from-sm-width {
            font-size: 18px;
        }

        @include from-lg-width {
            font-size: 20px;
        }
    }

    &.i-small &__desc {
        font-size: 14px;

        @include from-lg-width {
            font-size: 16px;
        }
    }

    // For intro as the first element of page
    &.i-intro {
        max-width: 1080px;
    }

    &.i-intro &__title {
        font-size: 32px;

        @include from-sm-width {
            font-size: 42px;
        }

        @include from-md-width {
            font-size: 60px;
        }
    }

    &.i-intro &__desc {
        max-width: 770px;
    }
}
