@import '../../styles/colors';
@import '../../styles/media';
@import '../../styles/vars';
@import '../../styles/text';

.topic {
    width: 100%;

    &__title {
        margin: 0;
        padding: 0;
        line-height: 1.1667;
        font-size: 28px;
        font-weight: 700;
        white-space: pre-line;

        @include from-md-width() {
            font-size: 60px;
        }

        .topic.is-center > & {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__desc {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.375;
        color: $color-text-secondary;

        display: block;
        max-width: 630px;

        text-align: left;

        @include from-md-width() {
            text-align: center;
            font-size: 16px;
        }

        .topic.is-white > & {
            color: currentColor;
        }

        .topic.is-center > & {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title + &__desc {
        margin-top: 20px;
    }

    // Where text must be white
    &.is-white {
        color: $color-white;
    }

    // Where text must be centered
    &.is-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    // For small elements like Card
    &.is-small &__title {
        @include text-h4;
        text-transform: lowercase;
        color: $color-text-secondary;
    }

    &.is-small &__desc {
        @include text-h2;
        color: $color-text-dark;
        max-width: 800px;
    }
}
