@import '../../styles/vars';
@import '../../styles/media';

.contact-us {
    &-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        @include from-lg-width {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
    }

    &__topic {
        width: 100%;
        max-width: 500px;

        &__description {
            margin-top: 30px;
            max-width: 365px;
            margin-bottom: 30px;

            text-align: left;

            @include from-lg-width {
                max-width: 375px;
            }
        }
    }


    &__actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        &__button {
            width: 100%;

            @include from-md-width {
                width: 180px;
                margin-right: 50px;
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: space-around;
        min-width: 100%;

        @include from-md-width {
            justify-content: space-between;
            min-width: 180px;
        }
    }

    &__phones {
        display: flex;

        @include from-md-width {
            margin-right: 68px;
        }

        @include from-lg-width {
            margin-right: 0;
        }
    }
}
