@import "../../styles/media";

:global {
    .badge {
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: transform 0.4s;
        border-radius: 5px;
        overflow: hidden;

        @include from-width(640px) {
            margin-bottom: 0;
        }

        &.-dark-bg {
            box-shadow: 0 0 0 1px transparentize(white, 0.5);
        }

        &:hover {
            transition-duration: 0.2s;
            transform: translateY(-3px);
        }

        &:last-child {
            margin-right: 0;
        }

        &__image {
            display: block;
        }

        &-container {
            display: flex;
            transition: opacity 0.2s;
            flex-direction: row;
            flex-wrap: wrap;
            visibility: visible;
            opacity: 1;

            &.-hide-mobile {
                display: none;

                @include from-width(640px) {
                    display: flex;
                }
            }

            &.-inactive {
                opacity: 0;
                visibility: hidden;
                transition-delay: 0.4s;
            }
        }
    }
}
