@import '../../styles/vars';
@import '../../styles/media';

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .i-gutter {
        padding-left: $var-gutter / 2;
        padding-right: $var-gutter / 2;
    }
}

.col {
    margin-left: $var-gutter / 2;
    margin-right: $var-gutter / 2;

    &.i-no-gutter {
        margin-left: auto;
        margin-right: auto;
    }

    $i: 1;
    @while $i <= $col-num {
        $percent: unquote((100 / ($col-num / $i)) + "%");

        &.xs-#{$i} {
            width: calc(#{$percent} - #{$var-gutter});
        }

        @include from-sm-width {
            &.sm-#{$i} {
                width: calc(#{$percent} - #{$var-gutter});
            }
        }

        @include from-md-width {
            &.md-#{$i} {
                width: calc(#{$percent} - #{$var-gutter});
            }
        }

        @include from-lg-width {
            &.lg-#{$i} {
                width: calc(#{$percent} - #{$var-gutter});
            }
        }

        @include from-xxl-width {
            &.xl-#{$i} {
                width: calc(#{$percent} - #{$var-gutter});
            }
        }

        $i: $i + 1;
    }
}