@import '../../styles/vars';
@import '../../styles/media';

.litecoin-wallet {

    &__best-wallet {
        margin-top: 100px;

        &-topic {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            max-width: 700px;
            text-align: center;
            margin: 0 auto;
        }

        &-descr {
            text-align: center;
        }
    }

    &__download-section {
        @include from-md-width {
            margin-top: 300px;
        }

        &-title {
            color: #0b0c0d;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;

            @include from-md-width {
                font-size: 48px;
            }
        }

        &-text {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    &__good-choice {
        text-align: center;
    }

    &__card-section-topic {
        max-width: 100% !important;
    }
}