@import '~normalize.css/normalize.css';
@import './styles/bootstrap';
@import './styles/fonts/critical-sf';
@import './styles/colors';
@import './styles/vars';
@import './styles/slick';
@import './styles/text';

//@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";

body {
    min-width: 320px;
    font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: $color-white;
    color: $color-dark;
    line-height: 1.375; // 22px
    overflow-y: scroll;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    min-height: 100vh;
    margin: 0;

    #app {
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

input,
textarea {
    appearance: none;
}

div, p,
section, article, header, footer,
h1, h2, h3, h4, h5, h6,
span {
    position: relative;
    margin: 0;
    padding: 0;
}

:global {
    // animations
    .fade-enter {
        pointer-events: none;
        opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        border-radius: 4px;
        transition: opacity $dur-half ease-in-out;
    }

    .fade-exit {
        pointer-events: none;
        opacity: 1;
    }

    .fade-exit.fade-exit-active {
        opacity: 0;
        transition: opacity $dur-half ease-in-out;
    }

    .citation {
        display: block;
        @include text-caption($color-text-secondary);

        line-height: 20px;
        border-left: 1px solid currentColor;
        padding-left: 10px;

        margin-top: 20px;
        margin-left: 10px;
    }

    a,
    .link {
        text-decoration: none;
        color: $color-gray50;
        transition: all 0.5s;

        &:hover {
            transition-duration: 0.2s;
            color: $color-success;
        }
    }

    .arrow-link {
        transition: all 0.5s;

        &:after {
            transition: transform 0.5s;
            margin-left: 0.5em;
            display: inline-block;
            content: '→';
            transform: translateX(0);
        }

        &:hover {
            transition-duration: 0.2s;
            color: $color-success;

            &:after {
                transition-duration: 0.2s;
                transform: translateX(0.2em);
            }
        }

        &:active {
            transform: translateY(0.2em);
        }
    }
}

