@import '~normalize.css/normalize.css';
@import './styles/colors';
@import './styles/vars';

body {
    min-width: 320px;
    background-color: $color-dark;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $color-dark;
    line-height: 1.444;
    overflow-y: scroll;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    min-height: 100vh;
    margin: 0;

    #app {
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

input,
textarea {
    appearance: none;
}

:global {
    a,
    .link {
        text-decoration: none;
        color: #424cfd;
    }

    .link {
        &.i-red {
            color: #ff495c !important;

            &:hover {
                text-decoration: none;
            }
        }

        &.i-bold {
            font-size: 14px;
            font-weight: 600;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .text {
        &-primary {
        }

        &-secondary {
        }

        &-shadow {
        }

        &-font-sm {
            font-size: 14px;
        }

        &-font-xs {
            font-size: 10px;
        }
    }

    // animations
    .fade-enter {
        pointer-events: none;
        opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        border-radius: 4px;
        transition: opacity $dur-half ease-in-out;
    }

    .fade-exit {
        pointer-events: none;
        opacity: 1;
    }

    .fade-exit.fade-exit-active {
        opacity: 0;
        transition: opacity $dur-half ease-in-out;
    }

    .legal-section {
        background-color: white;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}
