@import "../../styles/colors";
@import "../../styles/media";
@import "../../styles/text";

.link {
    display: flex;
    align-items: center;

    margin-top: 50px;
    @include text-h3($color-text-secondary);
}
