@import "../../styles/media";
@import "../../styles/colors";

.intro {
    &__content {
        min-height: 640px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        padding-bottom: 50px;
    }

    &__section {
        padding-bottom: 100px;
    }

    &__iphone {
        margin-bottom: -140px;
        width: 220px;

        @include from-xxl-width {
            width: 270px;
        }
    }
}

.two-iphones {
    margin-top: 300px;
    margin-bottom: 300px;
}

